[submodule "Packages/com.tff.core"]
	path = Packages/com.tff.core
	url = git@github.com:VagalumeGame/com.tff.core.git
[submodule "Packages/com.tff.core.design-patterns"]
	path = Packages/com.tff.core.design-patterns
	url = git@github.com:VagalumeGame/com.tff.core.design-patterns.git
[submodule "Packages/com.tff.salvatore"]
	path = Packages/com.tff.salvatore
	url = git@github.com:VagalumeGame/com.tff.salvatore.git
